.banner {
  background-image: url("../images/banner.png");
  background-size: cover;
  min-height: 45vh;
}
.font {
  font-family: "EB Garamond", serif;
  font-size: 50px;
  font-weight: 900;
}
.para {
  font-family: "Work Sans", sans-serif;
  margin-top: 2rem;
}
.image {
  width: 200px;
  border: 1px solid white;
  border-radius: 100px;
}
.question {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  font-weight: 900;
}
.answer {
  font-family: "EB Garamond", serif;
  font-size: 17px;
  font-weight: 900;
}
.heading {
  font-family: "EB Garamond", serif;
  font-size: 30px;
  font-weight: 900;
}
